<% include ./partials/header %>
<div id="page">

    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <div ><a style="color:black; font-weight:bold; font-size:medium;" href="/"> <img style="width:40%;" src="/images/logo_unit.png"/> Unity cars</a></div>
                        </div>
                        <div class="col-xs-10 text-right menu-1">
                            <ul class="captial">
                                <%if(currentUser){%>
                                    <li class="active"><a href="/admin/view_all_cars">Admin</a></li>
                                <%}%>
                                <li ><a href="/">Home</a></li>
                                <li><a href="/buy-cars">Buy Cars</a></li>
                                <li><a href="/sell-cars">Sell your Car</a></li>
                                <li><a href="/contact-us">Get In Touch</a></li>
                                <%if(currentUser){%>
                                    <li><a href="/index/logout">Logout</a></li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </nav>
    

    <div class="container top" style="margin-bottom:3em;">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card card-2">
                <div class="card-body" style="padding:1em;">
                    
                    <div style="font-weight: bold; color:#FFC300;background-color: #fafafa;" onclick="window.location.href = '/admin/add_cars'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold; text-align: center;">ADD NEW CARS</p>
                    </div>
            
                    <div style="font-weight: bold; text-align: center;" onclick="window.location.href = '/admin/view_all_cars'" class="alert alert-primary card-1 pointer">
                        <p>VIEW UPLOADED PRODUCTS</p>
                    </div>
                            
                    <div onclick="window.location.href = '/admin/queries'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE QUERIES</p>
                    </div>

                    <div onclick="window.location.href = '/admin/manage-testimonial'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE TESTIMONIAL</p>
                    </div>

                    <div onclick="window.location.href = '/admin/manage-category'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE CATEGORY</p>
                    </div>

                    <div onclick="window.location.href = '/admin/car-submition'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">CAR SUBMITIONS</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-12">
            <div class="card card-2">
                <div class="card-body" style="padding:1em;">
                    <form action="/admin/add_new_car" method="post" enctype="multipart/form-data">

                        <div style="padding-top:1em;" class="form-row">
                            <div class="form-group col-md-12">
                                <div class="form-group">
                                    <label for="location_1">Location</label>
                                    <select name="location1" class="form-control" id="location_1" required>
                                            <option>Akota</option>
                                            <option>Akota</option>
                                            <option>Makarpura GIDC</option>
                                    </select>
                                </div>
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label for="category">Select manufacture</label>
                                    <select name="catergory" onchange="selectCategorytrim(this.value)" id="allCategortrimAdd" class="form-control" required>

                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label for="make">Select model</label>
                                    <select name="make" onchange="selectMaketrim(this.value)" id="allMaketrim" class="form-control" required>
                                        <option>Select category</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label for="model">Select submodel</label>
                                    <select name="model" onchange="selectModeltrim(this.value)" id="allMadetrim" class="form-control" required>
                                        <option>Select make</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label for="year">Select year</label>
                                    <select onchange="selectYeartrim(this.value)" name="year" id="allModeltrim" class="form-control" required>
                                        <option>Select model</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="form-group">
                                    <label for="trim">Select fuel type</label>
                                    <select name="trim" id="allYeartrim" class="form-control" required>
                                        <option>Select year</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label for="kilometersDriven">Kilometers Driven</label>
                                    <input type="text" name="kilometersDriven" class="form-control" id="kilometersDriven" placeholder="KilometersDriven" required>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label for="vehicleRegNo">Vehicle RegNo</label>
                                    <input type="text" name="vehicleRegNo" class="form-control" id="vehicleRegNo" placeholder="VehicleRegNo" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label for="carPic">Upload car pics</label>
                                    <input style="padding:1em;" id="carPic" name="myImage" type="file" class="form-control-file" multiple>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-group">
                                    <label for="price">Price</label>
                                    <input type="text" name="price" class="form-control" id="price" placeholder="Price" required>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary card-1">SUBMIT</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
<% include ./partials/footer %>