<% include ./partials/header %>
<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <div id="colorlib-logo"><a href="/">Store</a></div>
                        </div>
                        <div class="col-xs-10 text-right menu-1">
                            <ul class="captial">
                                <%if(currentUser){%>
                                    <li class="active"><a href="/admin/view_all_cars">Admin</a></li>
                                <%}%>
                                <li ><a href="/">Home</a></li>
                                <li><a href="/buy-cars">Buy Cars</a></li>
                                <li><a href="/sell-cars">Sell Cars</a></li>
                                <li><a href="/contact-us">Get In Touch</a></li>
                                <%if(currentUser){%>
                                    <li><a href="/index/logout">Logout</a></li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </nav>
    

    <div class="container top" style="margin-bottom:3em; ">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card card-2">
                <div class="card-body" style="padding:1em;">
                    <div  onclick="window.location.href = '/admin/add_cars'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold; text-align: center;">ADD NEW CARS</p>
                    </div>
            
                    <div style="font-weight: bold; text-align: center;" onclick="window.location.href = '/admin/view_all_cars'" class="alert alert-primary card-1 pointer">
                        <p>VIEW UPLOADED PRODUCTS</p>
                    </div>
                            
                    <div onclick="window.location.href = '/admin/queries'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE QUERIES</p>
                    </div>

                    <div onclick="window.location.href = '/admin/manage-testimonial'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE TESTIMONIAL</p>
                    </div>

                    <div style="font-weight: bold; color:#FFC300;background-color: #fafafa;" onclick="window.location.href = '/admin/manage-category'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE CATEGORY</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-12">
            <div class="card card-2">
                <div class="card-body" style="padding:1em;">

                    <div class="row">

                        <div style="margin-top:1em;" class="col-md-4 col-sm-4 col-xm-2 pointer">
                            <div class="card card-1" >
                                <div class="card-body" data-toggle="collapse" href="#category" role="button" aria-expanded="false" aria-controls="category" style="padding:1em; text-align: center; background-color: #FFC300; font-weight: bold; color: white;">
                                  ADD CATEGORY
                                </div>
                            </div>
                        </div>

                        <div style="margin-top:1em;" class="col-md-4 col-sm-4 col-xm-2 pointer">
                            <div class="card card-1">
                                <div id="retrieve-btn-make" class="card-body" data-toggle="collapse" href="#make" role="button" aria-expanded="false" aria-controls="make" style="padding:1em; text-align: center;background-color: #FFC300; font-weight: bold; color: white;">
                                  ADD MAKE
                                </div>
                            </div>
                        </div>

                        <div style="margin-top:1em;" class="col-md-4 col-sm-4 col-xm-2 pointer">
                            <div class="card card-1">
                                <div id="retrieve-btn-model" class="card-body" data-toggle="collapse" href="#model" role="button" aria-expanded="false" aria-controls="model" style="padding:1em; text-align: center;background-color: #FFC300; font-weight: bold; color: white;">
                                  ADD MODEL
                                </div>
                            </div>
                        </div>

                        <div style="margin-top:1em;" class="col-md-4 col-sm-4 col-xm-2 pointer">
                            <div class="card card-1">
                                <div id="retrieve-btn-year" class="card-body" data-toggle="collapse" href="#year" role="button" aria-expanded="false" aria-controls="year" style="padding:1em; text-align: center;background-color: #FFC300; font-weight: bold; color: white;">
                                  ADD YEAR
                                </div>
                            </div>
                        </div>

                        <div style="margin-top:1em;" class="col-md-4 col-sm-4 col-xm-2 pointer">
                            <div class="card card-1">
                                <div id="retrieve-btn-trim" class="card-body" data-toggle="collapse" href="#trim" role="button" aria-expanded="false" aria-controls="trim" style="padding:1em; text-align: center;background-color: #FFC300; font-weight: bold; color: white;">
                                  ADD TRIM
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    

                </div>
            </div>
            <div class="card card-2">
                <div style="margin:0;" class="card-body" style="padding:1em;">
                    

                    <div class="card card-2">
                        <div class="collapse" id="category">
                            <div class="card card-body card-padding" style="padding:1em;">
                                <h5 class="card-title">ADD CATEGORY</h5>

                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <div class="form-group">
                                                <label for="category">Category Name</label>
                                                <input type="text" name="category" class="form-control" id="category_first" placeholder="category name">
                                            </div>
                                            
                                        </div>
                                        <div class="form-group col-md-12">
                                            <button id="category_button" class="btn btn-primary card-1">SUBMIT &nbsp <span class="lodingLogin"> <img src="/images/comment-ajax.gif"  /></span></button>
                                        </div>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>

                    <div class="card card-2" style="margin-top:1em;">
                        <div class="collapse" id="make">
                            <div class="card card-body card-padding" style="padding:1em; ">
                                <h5 class="card-title">ADD MAKE</h5>

                                <form id="make_form">
                                    <div class="form-row">
                                        <div class="form-group col-md-6 " >
                                            <label for="make">Select category</label>
                                            <select name="category_second" id="allCategory" class="form-control">

                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="form-group">
                                                <label for="make">Make</label>
                                                <input type="text" name="make" class="form-control" id="make_frist" placeholder="Make">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <button id="make_button" class="btn btn-primary card-1">SUBMIT &nbsp <span class="lodingLogin"> <img src="/images/comment-ajax.gif"  /></span></button></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="card card-2" style="margin-top:1em;">
                        <div class="collapse" id="model">
                            <div class="card card-body card-padding" style="padding:1em; ">
                                <h5 class="card-title">ADD MODEL</h5>

                                <form id="model_form">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="make">Select category</label>
                                            <select name="category_third" onchange="selectCategory(this.value)" id="allCategorymodel" class="form-control">
                                                
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="make">Select make</label>
                                            <select name="make_third" id="allMake" class="form-control">
                                                <option>Select category</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <div class="form-group">
                                                <label for="make">Model Name</label>
                                                <input type="text" name="model" class="form-control" id="model_forth" placeholder="Model name">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                                <button id="model_button" class="btn btn-primary card-1">SUBMIT &nbsp <span class="lodingLogin"> <img src="/images/comment-ajax.gif"  /></span></button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="card card-2" style="margin-top:1em;">
                        <div class="collapse" id="year">
                            <div class="card card-body card-padding1" style="padding:1em; ">
                                <h5 class="card-title">ADD YEAR</h5>
                                
                                <form id="year_form">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="make">Select category</label>
                                            <select onchange="selectCategoryyear(this.value)" id="allCategoryear" class="form-control">
                                        
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="make">Select make</label>
                                            <select onchange="selectMakeyear(this.value)" id="allMakeyear" class="form-control">
                                                <option>Select category</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="model">Select model</label>
                                            <select name="model_forth" id="allMadeyear" class="form-control">
                                                <option>Select make</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <div class="form-group">
                                                <label for="year">Year Name</label>
                                                <input type="text" name="year" class="form-control" id="year_forth" placeholder="Year name">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <button id="year_button" class="btn btn-primary card-1">SUBMIT &nbsp <span class="lodingLogin"> <img src="/images/comment-ajax.gif"  /></span></button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                    <div class="card card-2" style="margin-top:1em;">
                        <div class="collapse" id="trim">
                            <div class="card card-body card-padding1" style="padding:1em; ">
                                <h5 class="card-title">ADD TRIM</h5>

                                <form id="trim_form">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label for="category">Select category</label>
                                            <select onchange="selectCategorytrim(this.value)" id="allCategortrim" class="form-control">

                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="make">Select make</label>
                                            <select onchange="selectMaketrim(this.value)" id="allMaketrim" class="form-control">
                                                <option>Select category</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="model">Select model</label>
                                            <select onchange="selectModeltrim(this.value)" id="allMadetrim" class="form-control">
                                                <option>Select make</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label for="year">Select year</label>
                                            <select name="year_forth" id="allModeltrim" class="form-control">
                                                <option>Select model</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <div class="form-group">
                                                <label for="trim">Trim Name</label>
                                                <input type="text" name="trim" class="form-control" id="trim_forth" placeholder="Trim name">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <button id="trim_button" class="btn btn-primary card-1">SUBMIT &nbsp <span class="lodingLogin"> <img src="/images/comment-ajax.gif"  /></span></button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>

    </script>

<% include ./partials/footer %>