<% include ./partials/header %>
<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <div id="colorlib-logo"><a href="/">Store</a></div>
                        </div>
                        <div class="col-xs-10 text-right menu-1">
                            <ul class="capital">
                                <%if(currentUser){%>
                                    <li class="active"><a href="/admin/view_all_cars">Admin</a></li>
                                <%}%>
                                <li ><a href="/">Home</a></li>
                                <li><a href="/buy-cars">Buy Cars</a></li>
                                <li><a href="/sell-cars">Sell Cars</a></li>
                                <li><a href="/contact-us">Get In Touch</a></li>
                                <%if(currentUser){%>
                                    <li><a href="/index/logout">Logout</a></li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </nav>
    

    <div class="container top" style="margin-bottom:3em;">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card card-2">
                <div class="card-body" style="padding:1em;">
                    <div onclick="window.location.href = '/admin/add_cars'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold; text-align: center;">ADD NEW CARS</p>
                    </div>
            
                    <div onclick="window.location.href = '/admin/view_all_cars'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">VIEW UPLOADED PRODUCTS</p>
                    </div>
                            
                    <div style="font-weight: bold; text-align: center; color:#FFC300;background-color: #fafafa" onclick="window.location.href = '/admin/queries'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE QUERIES</p>
                    </div>

                    <div onclick="window.location.href = '/admin/manage-testimonial'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE TESTIMONIAL</p>
                    </div>

                    <div onclick="window.location.href = '/admin/manage-category'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE CATEGORY</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-12">
            <div class="card card-2">
                <div class="card-body" style="padding:1em;">
                    <img src="/uploads/NotAvailable.png" class="img-thumbnail" alt="Responsive image">
                </div>
            </div>
        </div>
    </div>
<% include ./partials/footer %>