<% include ./partials/header %>
<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <div id="colorlib-logo"><a href="/">Unity cars</a></div>
                        </div>
                        <div class="col-xs-10 text-right menu-1">
                            <ul class="captial">
                                <%if(currentUser){%>
                                    <li class="active"><a href="/admin/view_all_cars">Admin</a></li>
                                <%}%>
                                <li ><a href="/">Home</a></li>
                                <li><a href="/buy-cars">Buy Cars</a></li>
                                <li><a href="/sell-cars">Sell Cars</a></li>
                                <li><a href="/contact-us">Get In Touch</a></li>
                                <%if(currentUser){%>
                                    <li><a href="/index/logout">Logout</a></li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </div>
        </div>
    </nav>
    

    <div class="container top" style="margin-bottom:3em; ">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="card card-2">
                <div class="card-body" style="padding:1em;">
                    <div  onclick="window.location.href = '/admin/add_cars'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold; text-align: center;">ADD NEW CARS</p>
                    </div>
            
                    <div style="font-weight: bold; text-align: center;" onclick="window.location.href = '/admin/view_all_cars'" class="alert alert-primary card-1 pointer">
                        <p>VIEW UPLOADED PRODUCTS</p>
                    </div>
                            
                    <div onclick="window.location.href = '/admin/queries'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE QUERIES</p>
                    </div>

                    <div style="font-weight: bold; color:#FFC300;background-color: #fafafa;" onclick="window.location.href = '/admin/manage-testimonial'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE TESTIMONIAL</p>
                    </div>

                    <div onclick="window.location.href = '/admin/manage-category'" class="alert alert-primary card-1 pointer">
                        <p style="font-weight:bold;text-align: center;">MANAGE CATEGORY</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-12">
            <div class="card card-2">
                <div class="card-body" style="padding:1em;">

                    <div class="row">

                        <div id="testimonial_button" style="margin-top:1em;" class="col-md-6 col-sm-6 col-xm-2 pointer">
                            <div class="card card-1" >
                                <div class="card-body" data-toggle="collapse" href="#category" role="button" aria-expanded="false" aria-controls="category" style="padding:1em; text-align: center; background-color: #FFC300; font-weight: bold; color: white;">
                                  VIEW ALL
                                </div>
                            </div>
                        </div>

                        <div style="margin-top:1em;" class="col-md-6 col-sm-6 col-xm-2 pointer">
                            <div class="card card-1">
                                <div id="retrieve-btn-make" class="card-body" data-toggle="collapse" href="#make" role="button" aria-expanded="false" aria-controls="make" style="padding:1em; text-align: center;background-color: #FFC300; font-weight: bold; color: white;">
                                  ADD NEW
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    

                </div>
            </div>
            <div class="card card-2">
                <div style="margin:0;" class="card-body" style="padding:1em;">
                    

                    <div class="card card-2">
                        <div class="collapse" id="category">
                            <div class="card card-body" style="padding:1em;">
                                <h5 class="card-title">VIEW ALL</h5>
                                <div id="showing_testimonial">
                                    <div style="display: flex; justify-content: center;">
                                        <img src="/images/loader.gif"  />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-2" style="margin-top:1em;">
                        <div class="collapse" id="make">
                            <div class="card card-body" style="padding:1em; ">
                                <h5 class="card-title">ADD NEW</h5>

                                <form id="testimoniyal_form">

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <div class="form-group">
                                                <label for="fristname">First name</label>
                                                <input type="text" name="firstName" class="form-control testimonnial_input" id="firstNameT" placeholder="Fristname">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="form-group">
                                                <label for="lastname">Last name</label>
                                                <input type="text" name="lastName" class="form-control testimonnial_input" id="lastNameT" placeholder="Lastname">
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" name="emailId" class="form-control testimonnial_input" id="emailT" placeholder="Email">
                                        </div>
                                    </div>
                                    
                                    <div class="form-row">
                                        <div class="form-group">
                                            <label for="blogT">Blog</label>
                                            <textarea name="blog" class="form-control" id="blogT" rows="3"></textarea>
                                        </div>
                                    </div>

                                    <button id="testimonial" class="btn btn-primary card-1">SUBMIT &nbsp <span class="lodingLogin"> <img src="/images/comment-ajax.gif"  /></span></button>
                                </form>


                            </div>
                        </div>
                    </div>

                    <div class="card card-2" style="margin-top:1em;">
                        <div class="collapse" id="model">
                            <div class="card card-body card-padding" style="padding:1em; ">
                                <h5 class="card-title">MANAGE</h5>

                                



                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


<% include ./partials/footer %>